<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="friendo.mtel.loyalty" >

    <!-- 網路權限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- 休眠喚醒權限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 推播權限 -->
    <permission
        android:name="friendo.mtel.loyalty.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="friendo.mtel.loyalty.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.InitializationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WelcomeActivity"
            android:label="CommonActionBarActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.CommonActionBarActivity"
            android:label="CommonActionBarActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MainActivity"
            android:label="LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.LoginActivity"
            android:label="apiActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SubPreferentialActivity"
            android:label="SubPreferentialActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SubFrontPageActivity"
            android:label="SubFrontPageActivity"
            android:screenOrientation="portrait"/>

        <!-- 推播相關 -->
        <receiver
            android:name="friendo.mtel.loyalty.Receiver.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="friendo.mtel.loyalty" />
            </intent-filter>
        </receiver>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

    </application>

</manifest>
